{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-6 m-3">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Welcome to our website</h5>
                <p class="card-text">If the moment is fleeting, then the memory is eternal. We share our strongest
                    memories of the places we've been, letting them grow over time, not fade away. Memories is where
                    memories live forever.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block authenticate %}
<a href="{% url 'social:begin' 'facebook' %}" class="nav-item nav-link text-primary">Login with Facebook</a>
{% endblock %}
